<div id='innerFavStandingsContainer'>
  <table id='standingsTable' class="table table-striped table-condensed" 
                             data-toggle="table" 
                             data-sort-name="total" 
                             data-sort-order='desc'
                             data-unique-id='name'>
    <thead>
      <tr>
        <th data-formatter="rankFormatter"></th>
        <th data-formatter="teamPicFormatter"></th>
        <th data-field="name" data-footer-formatter="formatDeltaLabel">Name</th>
        <th data-field="total" data-sortable="false" data-footer-formatter="formatDeltas">Projected Pts</th>
      </tr>
    </thead>
  </table>

  <div id='standingsTableData' data-team-stats='<%= @team.league.team_stats.to_json %>'>
  </div>
</div>
