<h2 class='centerheader'><%= @team.name %></h2>
<h3 class='centerheader'><%= @team.league.name %></h3>
<div id="buttonContainer"><button class="centerButton">Create Trade</button><button class="centerButton">Set as favorite</button></div>

<%= render 'teams/favorite_team_table' %>
