<h2 class='centerheader'>Choose a team to import</h2>

<table class='teams'>
  <tr>
    <th>League</th>
    <th>Team Name</th>
    <th>Imported?</th>
  </tr>

  <% current_user.teams.each do |team| %>
    <tr>
    <td><%= team.league.name %></td>
    <td><%= team.name %></td>
    <% if team.imported %>
      <td> <%= fa_icon 'check-square-o' %> </td>
    <% else %>
      <td><%= button_to [:import, team.league], class: "importButton" do%>Import Now<% end %></td>
    <% end %>
    </tr>
  <% end %>
<table>
