<div class="page-header logo-container">
  <%= fa_icon 'plus-circle', class: 'fa-4x logo-lg text-danger' %>
  <div class='logo-text'>
    <h1 class='logo-text-h'>Trade First Aid</h1>
    <h3 class='logo-text-h middle'>League-customized trade analysis tool</h3>
  </div>
</div>

<div class="text-center">
  <%= button_to 'Try it out!', 
    trades_demo_path,
    method: :get,
    class: 'btn btn-info btn-lg' %>
</div>
