// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.centerButton {
    display: inline-block;
    margin: 10px 10px;
}

#buttonContainer {
    width: 80%;
    margin: 20px auto;
}

#teamTable {
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
}

img.playerPhoto {
    width: 16px;
}

#favOuter {
    width: 100%;
    margin: auto;
}

#favTeamContainer {
    width: 70%; 
    margin: auto;
    float: left;
}

.innerFavContainer {
    width: 92%;
    margin: auto;
}

.teamInner {
    margin-bottom: 9px;
}

.inlineHeader {
    display: inline;
}

#favStandings {
    width: 30%;
    margin: auto;
    float: right;
    border-left: 2px solid #ddd;
}

#innerFavStandingsContainer {
    width: 85%;
    margin: auto;
}

#favToggle {
}

#headerContainer {
    width: 100%;
}

#myHeader {
    width: 93%;
    float:left;
}

#favToggle {
    width: 7%;
    float: right;
    margin-top: 25px;
}

h3.favHeader {
    margin-top:10px;
}

#statusButton {
    cursor: default;
}

.unsupported {
    text-align: left;
}

.favPhoto {
    height: 1.35em;
    margin: -.5em 4px;
}
