// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tradeContainer {
    width: 100%;
    font-size:14px;
}

#teamContainer {
    width: 80%;
}

div.team {
    float: left;
    width: 50%;
}

div.team.right {
    border-right: 2px solid gray;
}

div.sidebar {
    float: left;
    width: 20%;
    font-size:14px;
}

div.innerTeamContainer {
    width: 95%;
    margin: auto;
}

div.innerSidebarContainer {
    width: 92%;
    margin: auto;
}

.th-inner.sortable {
    padding-right: 18px !important;
}

.tradeteam {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fa-check-square-o, .fa-square-o {
    min-width: 12px;
}

.playerToggle {
    cursor: pointer;
}

#tradeData {
    display: none;
}

.sidebarHeader { 
    text-align:center;
    font-size:24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sidebarTable { 
    margin-bottom: 25px;
}

.sidebarButtons {
    width: 100%;
    text-align: center;
}

.sidebarButton {
    width: 20%;
    float: left;
}

.sidebarSave {
    width: 60%;
    float: left;
    font-size: 16px;
}
