// Place all the styles related to the Trades controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tradeContainer {
    width: 100%;
    font-size:12px;
}

#teamContainer {
    width: 80%;
    overflow:hidden;
}

div.team {
    float: left;
    width: 50%;
    font-size: 14px;
}

div.team.right {
    // border-right: 2px solid gray;
}

#teams {
    overflow:hidden;
}

.standings {
    float: left;
    width: 100%;
}

div#sidebar {
    float: right;
    width: 20%;
    height: 100%;
    font-size:14px;
    border-left: 2px solid #ddd;
}

div.innerTeamContainer {
    width: 90%;
    margin: auto;
    position: relative;
}

.innerSidebarContainer {
    width: 92%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 5px;
}

.outerSidebarContainer {
    width: 92%;
    margin: auto;
}

div.innerStandingsContainer {
    width: 95%;
    margin: auto;
}

.projPts {
    font-weight: 500;
}

.th-inner.sortable {
    padding-right: 18px !important;
}

.tradeteam {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#standingsTable {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.fa-check-square-o, .fa-square-o {
    min-width: 14px;
}

.playerToggle {
    cursor: pointer;
    text-align: center;
}

#tradeData {
    display: none;
}

.sidebarHeader { 
    text-align:center;
    font-size:24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sidebarTable { 
    margin-bottom: 15px;
}

.sidebarButtons {
    width: 100%;
    text-align: center;
}

.sidebar.button {
    width: 50%;
    float: left;
}

.sidebarButton {
    font-size: 20px;
}

.plus {
    -webkit-animation-duration: 7s;
    -webkit-animation-name: fading-plus;
    -animation-duration: 7s;
    -animation-name: fading-plus;
}

@-webkit-keyframes fading-plus {
    from {
        background-color: #c7d8fd;
    }
    to {
        background-color: white;
    }
}

@-webkit-keyframes fading-plus {
    from {
        background-color: #c7d8fd;
    }
    to {
        background-color: white;
    }
}

.minus {
    -webkit-animation-duration: 7s;
    -webkit-animation-name: fading-minus;
    -animation-duration: 7s;
    -animation-name: fading-minus;
}

@-webkit-keyframes fading-minus{
    from {
        background-color: #FFC2C5;
    }
    to {
        background-color: white;
    }
}

@-webkit-keyframes fading-minus{
    from {
        background-color: #FFC2C5;
    }
    to {
        background-color: white;
    }
}

img.player {
    width: 16px;
    white-space: nowrap;
}

td.photo {
    width: 16px;
}

img.teamPhoto {
    width: 20px;
}

td.deltaGood {
    // background-color: #6091FB;
    
    // PREV
    // background-color: #AFC8FD;
    background-color: #c7d8fd;
    // background-color: #e6f1f6;
}

td.deltaBad {
    // background-color: #FF5C64;

    // PREV
    background-color: #FFC2C5;
    // background-color: #f3eaf0;
}

td[data-field="name"] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.teamHeaderButton {
    font-size: 20px;
    font-weight: 500;
}

.teamHeader {
    margin-top: 8px;
    margin-bottom: 10px;
}

#myTeamHeader {
    opacity: 1;
    cursor: initial;
}

.switchTeamLink {
}

.tradeButtons {

}


/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.team-header-img {
    height: 1.35em;
    margin: -.5em 4px;
}

.summary-container {
}

#summary-header {
    overflow: hidden;
}

#summary {
    // font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.heavy-cell {
    font-weight: 700;
    font-size: 14px;
}

.rank-cell {
    text-align: center;
}

th.th-final, div > div.fixed-table-footer > table > tbody > tr > td.th-final {
    padding-right: 30px !important;
}

#search { 
    display: none;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 5;
    width: 175px;
}

.search-icon, #search {
    z-index: 10;
}

.search-icon {
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 2;
    cursor: pointer;
}

.fa-close.search-close {
    display: none;
    position: absolute;
    z-index: 10;
    left: 160px;
    top: 12px;
}

.search-name {
    font-size: 14px;
    font-weight: 700;
}

.search-team {
    font-size: 12px;
}

.search-result {
}

.dropdown-menu {
    position: absolute;
    z-index: 10;
}

.teamheader-dropdown {
    position: inherit;
}
