<div class='innerSidebarContainer'>
  <div class='sidebarHeader'>Players received:</div>
  <div class='sidebarTable'>
    <table id='playersReceived' class="table table-striped table-condensed" data-toggle="table">
      <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="pos">Pos</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class='sidebarHeader'>Players traded:</div>
  <div class='sidebarTable'>
    <table id='playersTraded' class="table table-striped table-condensed" data-toggle="table">
      <thead>
        <tr>
          <th data-field="name">Name</th>
          <th data-field="pos">Pos</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class='sidebarButtons'>
    <div class='sidebarButton'>
      <button>Reset</button>
    </div>
    <div class='sidebarSave'>
      <button>Save Trade</button>
    </div>
    <div class='sidebarButton'>
      <button>Cancel</button>
    </div>
  </div>
</div>
