<div class='innerSidebarContainer'>
  <div class='sidebarHeader'>Players to receive:</div>
  <div class='sidebarTable'>
    <table id='playersReceived' class="table table-striped table-condensed" data-toggle="table">
      <thead>
        <tr>
          <th data-field="photo" class="photo"></th>
          <th data-field="name">Name</th>
          <th data-field="pos">Pos</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div class='sidebarHeader'>Players to trade:</div>
  <div class='sidebarTable'>
    <table id='playersTraded' class="table table-striped table-condensed" data-toggle="table">
      <thead>
        <tr>
          <th data-field="photo" class="photo"></th>
          <th data-field="name">Name</th>
          <th data-field="pos">Pos</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <% unless @demo %>
    <div class='sidebarButtons'>
      <div class='sidebar button'>
        <button>Reset</button>
      </div>
      <div class='sidebar save'>
        <button>Save Trade</button>
      </div>
      <div class='sidebar button'>
        <button>Cancel</button>
      </div>
    </div>
  <% end %>
</div>
