<table id='summary' class="table table-striped table-condensed" data-toggle="table">
  <thead>
    <tr>
      <th data-field="stat" data-formatter="statFormatter">Stat</th>
      <th data-field="result" data-formatter="resultFormatter">Net</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
